In [2]:
import pandas as pd
df = pd.read_csv("data/survey_results_public.csv", index_col='ResponseId')
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='qname')

In [3]:
df

,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,TechDoc,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,API document(s) and/or SDK document(s);User gu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,API document(s) and/or SDK document(s);User gu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,API document(s) and/or SDK document(s);User gu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65433,I am a developer by profession,18-24 years old,"Employed, full-time",Remote,Apples,Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","On the job training;School (i.e., University, ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65434,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65435,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Apples,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Social ...,API document(s) and/or SDK document(s);AI-powe...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65436,I am a developer by profession,18-24 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Contribute to open-source projects;Profe...,"Secondary school (e.g. American high school, G...",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,API document(s) and/or SDK document(s);User gu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
65437,I code primarily as a hobby,18-24 years old,"Student, full-time",NaN,Apples,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
filt = (df['CodingActivities']=='Hobby') & (df['EdLevel']=='Primary/elementary school')
filt1 = (df['CodingActivities']=='Hobby') | (df['EdLevel']=='Primary/elementary school')

In [44]:
df.loc[filt,'Age']

ResponseId
1        Under 18 years old
2121        18-24 years old
2213     Under 18 years old
2704        18-24 years old
4011        25-34 years old
                ...
61465       25-34 years old
61675    Under 18 years old
61955       18-24 years old
62050       18-24 years old
64469    Under 18 years old
Name: Age, Length: 78, dtype: object

In [46]:
df.loc[filt1,['Age','LearnCode']]

,Age,LearnCode
ResponseId,,
1,Under 18 years old,Books / Physical media
6,Under 18 years old,"School (i.e., University, College, etc);Online..."
9,45-54 years old,Books / Physical media;Other online resources ...
16,45-54 years old,Books / Physical media;On the job training;Oth...
17,Under 18 years old,Books / Physical media;Other online resources ...
...,...,...
65402,25-34 years old,Colleague;On the job training;Other online res...
65409,25-34 years old,On the job training;Other online resources (e....
65424,18-24 years old,NaN
65425,25-34 years old,NaN
65435,25-34 years old,"Other online resources (e.g., videos, blogs, f..."

In [57]:
filt2 = df['LearnCode'].str.contains('Books',na=False)
filt2

ResponseId
1         True
2         True
3         True
4        False
5        False
         ...
65433    False
65434    False
65435    False
65436    False
65437    False
Name: LearnCode, Length: 65437, dtype: bool

In [56]:
df.loc[filt2,'LearnCode']

ResponseId
1                                   Books / Physical media
2        Books / Physical media;Colleague;On the job tr...
3        Books / Physical media;Colleague;On the job tr...
9        Books / Physical media;Other online resources ...
11       Books / Physical media;Other online resources ...
                               ...
65406    Books / Physical media;Colleague;On the job tr...
65412    Books / Physical media;On the job training;Oth...
65413    Books / Physical media;Online Courses or Certi...
65429    Books / Physical media;Colleague;Other online ...
65432    Books / Physical media;Colleague;On the job tr...
Name: LearnCode, Length: 30392, dtype: object